body{
   background-color: rgb(254, 186, 141);
 
}

.HtmlQuize{
   background-color: white;
   padding: 30px;
   margin: 100px;
  }

  input[type="radio"]{
   margin: 20px;
   padding: 10px;
   height: 20px;
   width: 20px;
   cursor: pointer;
}
 


 
.AnsOption{
   display: flex;
   align-items: center;
margin: 10px;
padding: 10px;
font-size: 20px;

  }
.question{
   font-size: 20px;
   font-weight: bold;
   color:rgb(203, 69, 21);
}
.submitButton{
   background-color: rgb(203, 69, 21);
   padding: 20px 60px;
   border: none;
   border-radius: 28px;
   color: white;
   font-weight: bold;
   cursor: pointer;
   margin-left: 450px;
}
.submitButton:hover{
  background-color: rgb(240, 122, 79); 
   color: black;
}






 